body{
    margin: 0;
    background-color: #1a1919;
    color: rgb(199, 199, 199);
}
/*navigation*/
#m_income,#tp_income,#p_income,#a_income{
    color:#706a6a;
}
.highlight{
    color:rgb(221, 216, 186)
}
.tp_cost{
    color:#706a6a;
}
#info{
    width: 40%;
    float:left;
}
.b_amount{
    color:#706a6a;
}
#economy{
    width: 60%;
    float:right;
}
#tab{
    float:left;
}
#mainNavigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}  
li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
#nav{
    width:40%;
    float:left;
}
li:hover{
    background-color: #111111;
    cursor: pointer;
}
input[type=button]{
    border-radius: 5px;
    border:none;
    margin:2px;
    color: rgb(180, 170, 170);
    background-color: #333030;
}
input[type=button]:hover{
    background-color: #747474;
    color: rgb(180, 170, 170);
    cursor: pointer;
}
/*buildings*/
/*#buildings{
    float:right;
    width: 60%;
}*/
.option, .t_option{
    float:left;
    /*border: 3px grey solid;*/
    width:49.25%;
    margin: 4px;
}
input:disabled:hover{
    background-color: #333030;
    cursor: not-allowed ;
}
/*tech*/
#interactions{
    float:left;
}
#techs{
    float:right;
    width: 60%;
}
.tech{
    float:left;
    border: 3px grey solid;
    width:49.25%;
}
.selected{ 
    background-color: #111111;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #706b6b;
    margin: auto;
    padding: none;
    border: 1px solid #888;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
.modal-content h2{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 0;
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
  /* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
} 
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding-bottom: 0.25px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
  
.modal-body {padding: 2px 16px;}
.modal-footer {
    padding: 2px 16px;
    color: white;
}